

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: beige;
    align-content: center;
    border-color: black;
    border-style: solid;
    border-width: thin;
    
}

#logo {
    background-color: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    
}

#pub{
    background-color: red;
    border-radius: 10px;
    flex-grow: 0.9;
    padding-top: 1.6%;
    padding-bottom: 1%;
    padding-right: -1000px;
    padding-left: 75px;
    border-color: black;
    border-style: solid;
    border-width: thin;
   
}

main{
    background-color: beige;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    align-items: stretch;
}

#menu{
    background-color: rgb(38, 211, 38);
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    padding-right: 10px;
}

article{
    display: block;
}

#titre{
    background-color: rgb(38, 211, 38);
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    
}




footer{
    display: flex;
    background-color: red;
    border-radius: 10px;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: center;
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: thin;
}
