body{
    display: flex;
    flex-direction: column;sfsdf
}

header{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: beige;
    border-color: black;
    border-style: solid;
    border-width: thin;
    height: 120px;
}

#logo {
    background-color: red;
    border-radius: 10px;
    margin-right: 20px;
    border-color: black;
    border-style: solid;
    border-width: thin;
}

#pub{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 10px;
    height: 120px;
    width: 100%;
    border-color: black;
    border-style: solid;
    border-width: thin;
}

img{
    border-radius: 10px;
}


main{
    background-color: beige;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    align-items: flex-start;
    position: relative;
    
}



#menu{
    background-color: rgb(38, 211, 38);
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    align-self: stretch;
    min-width: 10em;
}


#titre{
    background-color: rgb(38, 211, 38);
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    display: flex;
    justify-content: center;
}

#recherche{
    position: absolute; 
    top: 5px;
    right: 10px;
}

.contenu{
    border-color: black;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    counter-reset: compteur;
}

.contenu p::first-letter{
    font-size: 2em;
    font-weight: bold;
}

.encart{
    background-color: rgb(38, 211, 38);
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    box-shadow: -5px 5px black;
    float: right;
    width: 10em;
    margin-top: 4ex;
    margin-left: 2ex;
    top: 4ex;
    clear: both;
}

.encart::before{
    counter-increment: compteur;
    content: counter(compteur) ".";
    font-size: 2em;
    font-weight: bold;
}

footer{
    display: flex;
    background-color: red;
    border-radius: 10px;
    padding-left: 25%;
    padding-right: 25%;
    justify-content: center;
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: thin;
}

@media screen and (max-width : 800px){

    body{
        display: flex;
        flex-direction: column;
    }
    header{
        display: none;
    }

    footer{
        display: none;
    }

    main{
        display: flex;
        flex-direction:  column;
        border-radius: 0%;
    }

    #recherche {
        display: none;
    }

    .encart{
        display: none;
    }

    #titre{
        border-radius: 0%;
    }

    #menu > ul{
        display: none;
    }

    #menu::before{
        content:"Menu";
        font-size: large;
        font-weight: bold;
    }

    #menu{
        height: auto;
        border-radius: 0%;
        background-color: blue;
        position:relative;
    }

    #menu:hover > ul{
        display: inline;
    }
    
    li{
        display: flex;
        border-style: solid;
        border-width: thin;
        background-color: grey;
    }

    .contenu{
        border-radius: 0%;
    }

    
}
